<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/mainPage.css') }}">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <style>
    form { width: 1200px; height: 500px; margin: 50px auto; }
    form div { margin-bottom: 10px;}
    form label { font-weight: bold; width: 100px; text-align: right; border:none; }
    form select { margin-left:0px; width: 50px; text-align: center }
    form button:first-child { margin-left: 120px;
      background-color: #dcdcdc; border: none;}
    .dragup { vertical-align: top }


    #faq {
      margin-right: 5px; }
    #qna {
      margin-left: -50px; }
  </style>

  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
          async defer>
  </script>

  <script type="text/javascript">
    var onloadCallback = () => {
      grecaptcha.render('captcha', { 'sitekey' : '6LfM1XApAAAAAPxyHPXw8TO6LS2cUvSumWnKdi6f'
      });
    };
  </script>

</head>


  <main>
    <div class="row">
      <div class="col-7 offset-1">
        <div id="qna" >
        <h2>QNA</h2>
        <form name="boardfrm">
          <div class="row">
            <div class="col-auto">
              <label for="category" class="col-form-label">구분</label>
            </div>
            <div class="col-auto">
              <select name="category" id="category" class="form-control rounded-0 border-bottom">
                <option value="선택">선택</option>
                <option value="상품">상품</option>
                <option value="재고">재고</option>
                <option value="배송">배송</option>
                <option value="결제">결제</option>
                <option value="방문">방문예약</option>
                <option value="기타">기타</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="title" class="col-form-label">제목</label></div>
            <div class="col-auto">
              <input type="text" name="title" id="title" class="form-control rounded-0 border-bottom"></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="userid" class="col-form-label">작성자</label></div>
            <div class="col-auto">
              <input type="text" name="userid" id="userid" value="abc123" readonly class="form-control rounded-0 border-bottom"> </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="contents" class="col-form-label">본문</label></div>
            <div class="col-auto">
              <textarea name="contents" id="contents" cols="45" rows="7" class="form-control rounded-0"></textarea></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <label for="captcha" class="col-form-label">자동작성방지</label></div>
            <div class="col-auto">
              <div id="captcha"></div></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <button type="button" class="col-form-label" >입력완료</button></div>
            <div class="col-auto">
              <button type="button" class="col-form-label">다시입력</button></div>
          </div>
        </form>
      </div>
      </div>
      <div class="col-3 offset-1">
        <div id="faq">
          <h3>FAQ</h3>
          <table class="table w-75 container mt-5">
            <tr class="border-bottom"><td><a href="../noblock/faq.html">상품</a></td></tr>
            <tr class="border-bottom"><td><a href="../noblock/faq.html">재고</a></td></tr>
            <tr class="border-bottom"><td><a href="../noblock/faq.html">배송</a></td></tr>
            <tr class="border-bottom"><td><a href="../noblock/faq.html">결제</a></td></tr>
            <tr class="border-bottom"><td><a href="../noblock/faq.html">방문예약</a></td></tr>
          </table>
        </div>
      </div>
    </div>




  </main>

  <script>
    let writebtn = document.querySelector('#writebtn');
    let boardfrm = document.boardfrm;
    writebtn.addEventListener('click', () => {

      //캡챠 체크 - 캡챠 응답토큰 생성 여부 확인
      // console.log(grecaptcha.getResponse());
      // alert('대기중..')
      if (grecaptcha.getResponse() === '') {
        alert('자동가입방지를 확인하세요.');
        return;
      }

      const formData = new FormData(boardfrm);

      let jsondata = {};
      formData.forEach((val, key) => {
        jsondata[key] = val;
      });
      // 캡챠 응답토큰을 jsondata에 추가
      jsondata['response'] = grecaptcha.getResponse();


      fetch('http://127.0.0.1:8000/board/write', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsondata),
        redirect: 'follow'      //서버에서 전송한 상태코드, url에 따름
      })
              .then((res) => {
                //상태코드가 3xx라면, 지정한 페이지로 이동
                if (res.redirected) location.href = res.url;
              })
              .catch((err) => console.log(err));

    })
  </script>